@keyframes RotatePortal {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

#main, body, html  {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Dosis', sans-serif;
    background: rgb(235, 235, 235);
}

#main  {
    display: inline-flex;
    flex-direction: column;
}

#header {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 35%;
    position: relative;
    /* border: 1px solid black; */
}

#pageTitle {
    display: table;
    margin: 0 auto;
    max-width: 25%;
}

#exitButton {
    display: none;
    position: absolute;
    max-width: 10%;
    left: 0%;
    z-index: 2;
}

#exitButton:hover {
    animation-name: RotatePortal;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#searchStuff {
    display: inline-flex;
    width: 20rem;
    height: 2.5rem;
    margin: 0 auto;
}

#searchBar {
    display: inline-block;
    width: 75%;
    font-size: 2rem;
    transition: all 1s ease;
    background: rgb(235, 235, 235);
    border: 2px palegreen solid;
}

#searchBar::selection {
    text-shadow: none;
}

#searchStuff > button {
    background: rgb(235, 235, 235);
    border: 2px palegreen solid;
    border-left: none;
}

button:hover {
    cursor: pointer;
}

#categories {
    display: inline-flex;
    width: 100%;
    height: auto;
    position: absolute;
    flex-direction: row;
    justify-content: space-evenly;
    bottom: 0%;
    color: #666;
}

#categories > h3 {
    display: inline-block;
    font-size: 100%;
}

#cardContainer, #searchContainer {
    width: 100%;
    height:65%;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
}

#cardContainer {
    display: inline-flex;
}

#searchContainer {
    display: none;
}

.card {
    display: inline-flex;
    width: 20em;
    height: 37em;
    overflow: hidden;
    margin: 1em;
    flex-direction: column;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 2%;
    transition: all .2s linear;
}

.card > p {
    text-align: center;
}

.card:hover {
    transform: translate3D(0, -4px, 0);
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .3);
}

/* inside the card */
.origin, .race {
    color: #666;
}

.name {
    margin: 0;
    padding: 4% 0%;
    font-size: 150%;
    color: white;
    background: linear-gradient(90deg, rgba(241,216,250,1) 0%, rgba(250,213,255,1) 40%, rgba(93,228,255,1) 100%);
}

.status {
    width: 100%;
    position: absolute;
    bottom: 0%;
    margin: 0;
    padding: 4% 0%;
    text-align: center;
    font-weight: bold;
    font-size: 125%;
    background: rgba(0,0,0,0.2);
}

.profileImage {
    display:inline-block;
    width: 100%;
    height: 50%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}

/* media Query Stuff */

@media screen and (max-width: 900px) {
    .card {
      flex-basis:40%;
    }
  }

@media screen and (max-width: 600px) {
  .card {
    flex-basis: 90%;
  }
  #pageTitle {
    max-width: 100%;
  }
}

@media screen and (max-width: 383px) {
    #categories > h3 {
        font-size: 75%;
    }
    #pageTitle {
        max-width: 100%;
    }
  }